# Compiled Python files
*.pyc
runpy
build
.python-version
.ruby-version
*.log

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

*.swp

.vscode/
.envrc

flycheck_*.elc
