[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule ".config/opp.zsh"]
	path = .config/opp.zsh
	url = https://github.com/hchbaw/opp.zsh
[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/sorin-ionescu/prezto
